<h1>Contact</h1>
<p>To learn more about our company and the products we distribute,
please visit the <a href="http://www.integralsense.com" target="_blank">Integral Sense Brands website</a> or email us 
at <a href = "mailto: info@integralsense.com?Subject=Enquiry from the Wholesale Management System"> info@integralsense.com</a>.</p>
<p>Call us in Vancouver, British Columbia:</p>
<ul>
<li>Telephone:1-866-933-1744</li>
<li>Facsimile: 604.873.9059</li>
</ul>
