<h1>Wholesale Management System</h1>

<p>
  Welcome to the 
  <a href="http://www.integralsense.com" target="_blank">Integral Sense Brands</a>
  Wholesale Management System.
</p>

<%= link_to "Sign Up!", signup_path, :class => "signup_button round" %>
